<!-- Form for adding new item -->
<div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <button (click)="onAddNew()" class="mb-0 btn btn-secondary">Add New {{showForm}}</button>
        <div *ngIf="success$ | async" class="alert alert-success mt-3">
          Form submitted successfully!
        </div>
      </div>
      <div class="card-body">
        <form *ngIf="showForm" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input
              id="name"
              type="text"
              class="form-control"
              formControlName="name"
              [class.is-invalid]="form.get('name').invalid && form.get('name').touched"
            />
            <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="invalid-feedback">
              Name is required.
            </div>
          </div>
  
          <div class="mb-3">
            <label for="author" class="form-label">Author:</label>
            <input
              id="author"
              type="text"
              class="form-control"
              formControlName="author"
              [class.is-invalid]="form.get('author').invalid && form.get('author').touched"
            />
            <div *ngIf="form.get('author')?.invalid && form.get('author')?.touched" class="invalid-feedback">
              Author is required and must be valid.
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid || (loading$ | async)">
            {{ form.get('id')?.value ? 'Update' : 'Add' }}
          </button>
  
        </form>
      </div>
    </div>
  </div>


  
  
  <!-- Table to display the list of items with pagination -->
<div class="container mt-5">
    <div *ngIf="((items$ | async) ?? []).length > 0">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>STT</th>
              <th>Name</th>
              <th>Author</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ((items$ | async) ?? []); let i = index">
              <td>{{ currentPage * itemsPerPage + (i + 1) }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.author }}</td>
              <td>
                <button (click)="onEdit(item)" class="btn btn-sm btn-warning">Edit</button>
                <button (click)="onDelete(item)" class="btn btn-sm btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Pagination -->
      <div class="d-flex justify-content-between align-items-center mt-3">
        <button (click)="changePage('prev')" class="btn btn-outline-primary" [disabled]="currentPage === 0">
          Previous
        </button>
        <span>Page {{ currentPage +1 }} of {{ totalPages$ | async }}</span>
        <button (click)="changePage('next')" class="btn btn-outline-primary" [disabled]="(currentPage +1) === (totalPages$ | async)">
          Next
        </button>
      </div>
    </div>
  </div>
  