<main class="main">
  <div class="content">
    <div *ngIf="(counters$ | async) as counters; else loading">
      <div *ngFor="let counter of counters">
        <h1>Counter {{ counter.id }}: {{ counter.value }}</h1>
        <button (click)="increment(counter.id)">Increment</button>
        <button (click)="decrement(counter.id)">Decrement</button>
        <button (click)="reset(counter.id)">Reset</button>
      </div>
    </div>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </div>
</main>
